<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% block title%}
    Ecoleta
    {% endblock title%}
    
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    
    
    <link rel="stylesheet" href="style/main.css"> 
    {% block styles %}
    {% endblock styles %}

    <link rel="stylesheet" href="style/responsive.css">  
</head>
<body>
    
    <div id="{{ pageId }}">
        {% block content %}
        {% endblock content %}
    </div>

    {% block modal %}
    {% endblock modal %}
    
    {% block scripts %}
        <script src="../scripts/index.js"></script>
    {% endblock scripts %}
</body>
</html> 